[General]
Show_Labels=false
Exec_Command=false
Suppress_Hddtemp_Message=true
Suppress_Tooltip=true
Lines_Size=1
Update_Interval=4
Number_Chips=3

[Chip0]
Name=amdgpu-800
Number=0

[Chip1]
Name=k10temp-c3
Number=1

[Chip1_Feature0]
Address=0
Name=Tctl
Color=#D8DEE9
Show=true
Min=0
Max=80

[Chip2]
Name=ACPI
Number=2

